/* Cold File Hider — base styles */

/* Hide cold files */
.tree-item.nav-file[data-cfh="hidden"],
.tree-item.nav-folder[data-cfh="hidden"] {
    display: none !important;
}

/* Dim cold files when showing */
.tree-item.nav-folder[data-cfh="dimmed"],
.tree-item.nav-file[data-cfh="dimmed"] {
    display: flex !important;
    opacity: 0.35;
}
